* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  
    background: linear-gradient(135deg, #22112e, #4a3f5c);
    color: #fff;/* Purple background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
  }
  
  .stopwatch {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .time-display {
    font-size: 200px; /* Changed to 200px */
    font-weight: bold;
    margin: 20px 0;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .time-labels {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
  }
  
  .time-labels span {
    display: block; /* Makes each text appear on a new line */
    margin: 5px 0;
    font-weight: bold;
  }
  
  .controls button,
  .lap-btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  .start-btn {
    background: #cea2f0;
    color: white;
  }
  
  .start-btn:hover {
    background: #45a049;
    transform: scale(1.05);
  }
  
  .reset-btn {
    background: #cea2f0;
    color: white;
  }
  
  .reset-btn:hover {
    background:red;
    transform: scale(1.05);
  }
  
  .lap-btn {
    background: #cea2f0;
    color: white;
    width: 100%;
    border-radius: 30px;
  }
  
  .lap-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
  }
  
  .lap-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .lap-list li {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .lap-list li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .lap-list li span {
    font-weight: bold;
    color: #fff;
  }
  